*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    background: #333333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    scroll-behavior: smooth;
}

.wrapper{
    min-height: 100vm;
    display: flex;
    flex-direction: column;
}

.fullscreen{
    min-height: 100vh;
    background: #262995;
    display: flex;
    padding: 20px 0;
}
.fullscreen_title{
    font-size: 70px;
    margin: 0 0 20px 0;
    font-family: 'Bad Script', cursive;
}

.fullscreen_text{
    font-size: 30px;
    margin: 0 0 20px 0;
    font-family: 'Balsamiq Sans', cursive;
}
.fullscreen__body{
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 450px 0;
}
.fullscreen__link{
    display: inline-block;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    background: #e4524f;
    border-radius: 20px;
    align-self: center;
    padding: 0 20px;
}
/* .content{} */
.content__body{
    min-height: 100vh;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    padding: 30px 20px;
    width: 100%;
}

.content__body p{
    margin: 0 0 20px 0;
}

.content__body p:last-child{
    margin: 0;
}

.footer{
    background: #000;
    text-align: center;
}
.footer__body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px;
}

.fullscreen_bg{background: url("https://cdn.pixabay.com/photo/2015/08/13/01/00/keyboard-886462_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_0{background: url("https://cdn.pixabay.com/photo/2020/01/08/03/56/man-4749237_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_1{background: url("https://cdn.pixabay.com/photo/2020/04/21/06/41/bulldog-5071407_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_2{background: url("https://cdn.pixabay.com/photo/2020/06/26/14/42/architect-5342907_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_3{background: url("https://cdn.pixabay.com/photo/2014/06/28/12/35/books-378903_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_4{background: url("https://cdn.pixabay.com/photo/2015/06/08/15/11/typewriter-801921_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_5{background: url("https://cdn.pixabay.com/photo/2020/05/18/16/17/social-media-5187243_960_720.png") center / cover no-repeat fixed;}
.fullscreen_bg_6{background: url("https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_7{background: url("https://cdn.pixabay.com/photo/2020/05/09/07/41/cassettes-5148602_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_8{background: url("https://cdn.pixabay.com/photo/2020/05/01/07/59/flatlay-5115827_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_9{background: url("https://cdn.pixabay.com/photo/2020/06/01/22/23/eyes-5248678_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_10{background: url("https://cdn.pixabay.com/photo/2019/07/14/16/29/pen-4337524_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_11{background: url("https://cdn.pixabay.com/photo/2020/05/05/12/12/coffee-5132832_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_12{background: url("https://cdn.pixabay.com/photo/2020/05/08/17/51/woman-5146765_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_13{background: url("https://cdn.pixabay.com/photo/2020/04/20/18/10/cinema-5069314_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_14{background: url("https://cdn.pixabay.com/photo/2020/04/18/20/01/background-5060836_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_15{background: url("https://cdn.pixabay.com/photo/2020/04/08/16/32/keyboard-5017973_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_16{background: url("https://cdn.pixabay.com/photo/2020/03/28/16/03/dog-4977599_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_17{background: url("https://cdn.pixabay.com/photo/2020/03/30/09/15/corona-4983590_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_18{background: url("https://cdn.pixabay.com/photo/2015/09/09/19/56/office-932926_960_720.jpg") center / cover no-repeat fixed;}
.fullscreen_bg_19{background: url("https://cdn.pixabay.com/photo/2020/03/06/08/00/laptop-4906312_960_720.jpg") center / cover no-repeat fixed;}


.fullscreen_twe{
    background: #262995;
}

.fullscreen__radio_batoon input{
    padding: 20px;
    cursor: pointer;
}